* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.first{
  height: 50px;
  width: 100%;
  background-color: rgb(95, 95, 233);
  color: azure;
  padding: 10px;
  text-align: center;
  font-size: 25px;
}

.second {
  height: 300px;
  width: 1200px;
  background-color: rgb(235, 225, 225);
  margin: 0 auto; 
  margin-top: 20px;
  padding: 20px;
  border-radius: 10px;

}

img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  object-fit: cover;
}
h4{
    font-size: 24px;
}
p{
    font-size: medium;
text-align: justify;
}

.third{
     height: 200px;
  width: 1200px;
   background-color: rgb(235, 225, 225);
  margin: 0 auto; 
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 20px;
  border-radius: 20px;
}

 ul{
    padding-left: 20px;
    margin-top: 20px;
 }
footer {
  background-color: blue;
  height: 50px;
  width: 100%;
  color: aliceblue;

  display: flex;
  align-items: center;      
  justify-content: center;  
}
